<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>197917761798-0kfhi22gqclomnmkk91ef60tijk6ghag.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABl1NcTJQY8qL-Fop_XEpWph_AYo8_2I4</string>
	<key>GCM_SENDER_ID</key>
	<string>197917761798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cardsofwords</string>
	<key>PROJECT_ID</key>
	<string>cardsofwords</string>
	<key>STORAGE_BUCKET</key>
	<string>cardsofwords.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197917761798:ios:c2387b428ba6cc6bab7e87</string>
	<key>DATABASE_URL</key>
	<string>https://cardsofwords.firebaseio.com</string>
</dict>
</plist>